/* CSS Document */

html, body, iframe {
  text-align: center;
  /**padding-top: 40px;**/
	
  
  -webkit-perspective: 700px;
     -moz-perspective: 700px;
      -ms-perspective: 700px;
          perspective: 700px;
}

.video {
	
	width:50vh;
	height:30vh;
	
}

.map {
	
	width:80vh;
	height:50vh;
	
}

#homeContent{
	visibility: hidden;
	display: none;
	margin-left: auto;
	margin-right: auto;
}

#mediaPlayer{
	visibility: hidden;
	display: none;
	margin-left: auto;
	margin-right: auto;
}

#weatherMap{
	visibility: hidden;
	display: none;
	margin-left: auto;
	margin-right: auto;
}

#contactMe{
	visibility: hidden;
	display: none;
	margin-left: auto;
	margin-right: auto;
}

#resetProfile{
	visibility: hidden;
	display: none;
	margin-left: auto;
	margin-right: auto;
}


/* Reset */
button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
button {
  display: inline-block;
  position: relative;
  padding: .01% .02%;
  top: 0;
  font-size: 30px;
  font-family: "Open Sans", Helvetica;
  border-radius: .25%;
  border-bottom: 1px solid rgba( .0015%, .25%, .14%, 0.0005% );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( .008%, .09%, .04%, 0.0001% );
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

button:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

button:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgba( 20, 224, 133, 1 );
}
}

/**Header Animate**/

header {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

header:before {
  animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),
              url("../IMG/clouds.jpg") no-repeat bottom;
  background-size: cover;
  content: "";
  opacity: 0;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}

header:after {
  animation: rotate-up .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: #F9FCFF;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
    right: -5%;
    top: 90%;
  transform-origin: 0 0;
  z-index: 0;
}

.header-title, .header-subtitle {
  color:#033EC9;
}

.header-subtitle {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.header-button {
  transform: translateZ(.1px);
  position: relative;
  z-index: 10;
}

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.rocky-dashed {
  animation-delay: .6s;
}

.header-title {
  animation-delay: .8s;
}

.header-subtitle {
  animation-delay: 1s;
}

.header-button {
  animation-delay: 1.1s;
}


/* Animations */

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate-up {
  100% {
    transform: rotateZ(-4deg);
  }
}


div.toggler { background:#36DAFC; cursor:pointer; }
div.toggler div { display:none; }